*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#border{
    border: 1px solid black;
}



.contenedorPadre{
    height: 100vh;
    width: 99vw; 
    display: grid;
    grid-template-areas: 
    "article aside aside"
    "article aside aside"
    "article aside aside"
    "footer footer footer";
    grid-template-columns: 25% 50% 26%;
    grid-template-rows: 30% 30% 20% 20% ;

}

@media (max-width:428px){
    .contenedorPadre{
         width: 100vw;
        background-color: brown;
        grid-template-areas: 
        "article "
        "aside"
        "footer ";
        grid-template-columns: 100%;
        grid-template-rows: 40% 30% 30%;
    }
}

.img{
    width: 14rem;
    height: 14rem;
    border-radius: 15rem;
    border: 3px solid black;
}

hr{
  background-color: black;
  height: 3px;
  width: 100%;
}
.contenedorHijo{
    background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column; 
   height: 242px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#contenedorCuerpo{
    margin: 3px 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 311px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#titulosCuerpo{
    font-size: 45px;
}

.contenedorNombre{
    margin-top: 3px;
    background-color: rgb(219, 180, 255);
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 125px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: xxx-large;
}
#inforEspacio{
 height: 180px;
}
 #inforEspacio2{
    height: 169px;
    align-self: center;
 }

 #inforEspacio3{
    height: 165px;

 }

#informacion{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.letraBase{
    font-size: 39px;
    align-self: center;

}

#telefono{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#textoEstudio{
    font-size: 25px;
    margin-left: 0px;
    margin-top: 5px;
    width: 260px;
}
@media (max-width: 834px){
    body{
        background-color: rgb(212, 255, 148);
    }
}

@media (max-width: 1900px) {
    body{
        background-color: rgb(222, 113, 255);
    }
    .img{
        height: 13rem;
        width: 13rem;
        align-self: center;
    }
}

#iconoTelefono{
    margin-top: 0;
    width: 2.2rem;
    height: 2.2rem;
   border: none;
}


article{
    grid-area: article;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

