* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#border {
    border: 2px solid black;
}

#segundaSect{
    border-bottom: 4px ridge black;
}
.contenedorPadre {

    height: 100vh;
    width: 99vw;
    display: grid;
    grid-template-areas:
        "article aside aside"
        "article aside aside"
        "article aside aside"
        "footer footer footer";
    grid-template-columns: 25% 50% 26%;
    grid-template-rows: 30% 30% 19.8% 20%;


}

.img {
    width: 14rem;
    height: 14rem;
    border-radius: 15rem;
    border: 3px solid black;


}#difuminadoPerfil{
    box-shadow: -1px -1px 18px  rgb(167, 101, 230);
}

hr {
    background-color: black;
    height: 4px;
    width: 100%;
}

.contenedorHijo {
    display: flex;
    flex-direction: column;
    height: 242px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 4px ridge black;
}

.contenedorCuerpo {
    margin: 3px 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 311px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#contenUlti {
    height: 187px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
}

#conteHobbie {
    font-size: 60px;
    background-color: rgb(219, 180, 255);
    width: 24.75%;
    margin-top: 6px;
    height: 199px;
    text-align: center;
    align-content: center;
    margin-right: 100px;
    border-right: 4px ridge black;
    border-top: 4px ridge black;
}

#hijosUltimos {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    border: none;
    margin-top: 4px;

}

#contenedorImg {
    border: none;
    flex-direction: row;
    flex-wrap: nowrap;
}

#titulosCuerpo {
    font-size: 45px;
    width: 100%;
    text-align: center;
    background-color:  rgb(178, 122, 201);
    border-bottom: 2px solid black;
}
#titulosCuerpo2 {
    font-size: 45px;
    width: 100%;
    text-align: center;
    background-color:  rgb(178, 122, 201);
    border-bottom: 2px solid black;
}
.contenedorNombre {
    margin-top: 3px;
    background-color: rgb(219, 180, 255);
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 125px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: xxx-large;
}

#inforEspacio {
    height: 180px;
}

#inforEspacio2 {
    height: 169px;
    align-self: center;
}

#inforEspacio3 {
    height: 180px;

}

#informacion {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#titulosInfo{
    width: 100%;
    text-align: center;
    background-color:  rgb(178, 122, 201);

}
.infoProyecto {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33.4%;
    height: 250px;
    border-top: 2px solid black;
}

#interestContent {
    flex-direction: column;
}

#interestContent2 {
    flex-direction: column;
    margin-right: 20px;
    width: 400px;
    height: 180px;
    border: none;
}

.letraBase {
    font-size: 39px;
    align-self: center;

}

.contenUlti2 {
    margin-top: 22px;
    height: 135px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: none;
}

#telefono {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#telefono2 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#textoEstudio {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 260px;
}

#imgBody {
    font-size: 25px;
    margin-right: 17px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
}

#imgBody2 {
    font-size: 25px;
    margin-top: 5px;
    width: 250px;
    height: 20px;
}

.imgCuerpo {
    height: 90%;
    width: 60%;
    border: 5px groove black;
    margin-left: 15px;
}

#imgSect2 {
    height: 80%;
    width: 60%;
}

#iconoTelefono {
    margin-top: 0;
    width: 2.2rem;
    height: 2.2rem;
    border: none;
}

#imgInfoBody {
    display: flex;
    flex-direction: column;
    text-align: center;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

@media (min-width: 1000px) and (max-width: 1900px) {
    .contenedorPadre {
        width: auto;
        height: 100vh;
        grid-template-columns: 23% 51% 26%;
        grid-template-rows: 20% 20% 35.5% 24.5%;

    }

    #contenedorImg {
        height: 180px;
        margin: 0px;
    }

    .img {
        height: 8rem;
        width: 8rem;
        align-self: center;
        margin-top: 3px;
    }

    .letraBase {
        font-size: 30px;
    }

    #telefono {
        font-size: 18px;
        margin-top: 2px;
    }
    #telefono2 {
        font-size: 18px;
        margin-top: 2px;
        margin-left: 5px;
    }

    #textoEstudio {
        font-size: 18px;
        margin-left: 2px;
    }

    #imgInfoBody {
        width: 125px;
        margin-right: 20px;
        margin-left: 15px;
    }

    .imgCuerpo {
        height: 75%;
        width: 50%;
        margin-left: 10px;
    }

    .infoProyecto {
        width: 450px;
        height: 95px;
    }

    .contenedorHijo {
        height: 140px;

    }

    .contenedorCuerpo {
        height: 250px;
    }

    #hijosUltimos {
        height: 120px;
        width: 950px;
        margin:0px;
        justify-content: center;
    }
    .contenUlti2 {

        height: 185px;
        width:auto;
        align-content: start;
        justify-content: left;
        display: flex;
        flex-direction: row;
        border: none;
        margin:0;
    }
    #conteHobbie {
        font-size: 35px;
        margin:0;
        width: 23%;
        height: 100%;
        margin-top: 5px;
    }
    #interestContent2 {
        width: 240px;
        height: 120px;
        margin-top: 0px;
        margin-right: 10px;
    }

    .contenedorNombre {
        height: 9%;
        font-size: 40px;
    }


    #titulosCuerpo {
        font-size: 35px;
    }
    #titulosCuerpo2 {
        font-size: 35px;
    }

    .infoProyecto {
        height: 200px;

       
    }

    #inforEspacio {
        height: 152px;
    }

    #inforEspacio2 {
        height: 120px;
    }

    #inforEspacio3 {
        height: 145px;
        margin-top: 1px;
    }

    #imgSect2{
        width: 70%;
        margin-top: 0px;
    }

}

@media (min-width:530px) and (max-width: 999px) {

    .contenedorPadre {
        width: auto;
        height: auto;
        grid-template-columns: 30% 51% 19%;
        grid-template-rows: 25% 25% 29.3% 19%;
    }

 
    .img {
        /* imagen personal*/
        height: 8rem;
        width: 8rem;
        align-self: center;
        margin: none;
    }

    .letraBase {
        font-size: 20px;
    }

    #telefono {
        font-size: 19px;
        margin-top: 5px;
        width: 140px;

    }
    #telefono2 {
        font-size: 19px;
        margin-top: 5px;
        margin-bottom: 0px;
        width: 210px;
        height: 100px;
        text-align: left;
    }

    #textoEstudio {
        font-size: 19px;
        width: 180px;
        margin-bottom: 5px;
    }

    #interestContent2 {
        /* ultimo contenedor imagenes*/
        width: 175px;
        height: 160px;
        margin-right: 5px;
        margin-top: 8px;
    }

    #contenedorImg {
        margin: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 353px;
        margin: none;
        border-left: 1px solid black;
    }
    .infoProyecto {
        height: 112px;
    }

    .contenUlti2 {
        /* ultimo contenedor*/
        margin-top: 0px;
        height: 220px;
        align-items: center;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid black;
    }

    #imgInfoBody {
        /* letras al lado de imagenes*/
        width: 210px;
        height: 70px;
        margin-right: 15px;
        margin-left: 15px;
    }
    #imgBody {
        font-size: 24px;
        margin-right: 10px;
        margin-left: 35px;
        margin-top: 0px;
        width: 200px;
    }

    #imgBody2 {
        font-size: 23px;
        width: 200px;
        margin-right: 10px;
        margin-left: 35px;
        width: 170px;
    }

    .imgCuerpo {
        /* imnagenes en el cuerpo*/
        height: 10%;
        width: 20%;
        margin-left: 10px;
    }

    .infoProyecto {
        width: 420px;
        height: 130px;

    }

    .contenedorHijo {
        /* contenedor foto personal*/
        height: 250px;
        margin: none;
    }

    .contenedorCuerpo {
        /* contenedores cuerpo*/
        height: 356px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: none;
    }

    #hijosUltimos {
        height: 175px;
        width: 540px;
        margin: 0px;
        align-items: center;
        margin-left: 15px;
    }
    #conteHobbie {
        width: 30%;
        margin:0px;
        height: 220px;
        font-size: 40px;
        border: 2px solid black;
    }

    .contenedorNombre {
        height: 14%;
        font-size: 41px;
    }
    #informacion {
           /* informacion article, contenedor*/
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 80px;

    }

    #titulosCuerpo {
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        height: 100px;
        align-content: center;
        justify-self: center;
        text-align: center;
    }
    #titulosCuerpo2 {
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: 100px;
        align-content: center;
        justify-self: center;
        text-align: center;
    }

   

    #inforEspacio {
        height: 190.6px;
    }

    #inforEspacio2 {
        height: 200px;
        align-content: center;
    }

    #inforEspacio3 {
        height: 205px;
    }
    .imgCuerpo {
        height: 90px;
        width: 130px;
        border: 1px solid black;
        margin-left: 15px;
    }

    #imgSect2 {
        height: 90%;
        width: 90%;
    }

    #iconoTelefono {
        margin-top: 0;
        width: 1.9rem;
        height: 1.9rem;
        margin-top: 5px;
        border: none;
    }
    #segundaSect{
        height: 357px;
    }

}

@media (min-width:0) and (max-width:529px) {

    .contenedorPadre {
        width: 100vw;
        grid-template-areas:
            "article "
            "aside"
            "footer ";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    #conteHobbie {
        width:100%;
        border: 1px solid black;
        margin: 0px;
        margin-top: 3px;
        height: 50px;
        font-size: 45px;
        margin-bottom: 10px;
        
    }

    .img {
        /* imagen personal*/
        height: 9rem;
        width: 9rem;
        align-self: center;
        margin: none;
    }

    .letraBase {
        font-size: 20px;
    
    }
    .infoProyecto {
        height: 123.5px;
    }

    #inforEspacio {
        height: 160px;
    }

    #inforEspacio2 {
        height: 160px;
    }

    #inforEspacio3 {
        height: 130px;

    }

    #telefono {
        font-size: 18px;
        margin-top: 5px;
        width: 180px;

    }
    #telefono2 {
        font-size: 18px;
        margin-top: 0px;
        width: 180px;
        height: 20px;
        margin-left: 10px;
        text-align: center;
    }

    #textoEstudio {
        font-size: 18px;
        margin-top: 2px;
        width: 220px;
        height: 20px;
        align-content: center;
    }

    #interestContent2 {
        /* ultimo contenedor imagenes*/
        width: 290px;
        height: 180px;
        margin-right: 3px;
        margin-top: 0px;
    }

    #contenedorImg {
        margin: 0px;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 260px;
        margin: none;
    }

    .contenUlti2 {
        /* ultimo contenedor*/
        margin-top: 0px;
        height: 230px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: none;
    }
    #hijosUltimos {
        height: 550px;
        width: 350px;
        align-items: center;
        flex-direction: column;
    }

    #imgInfoBody {
        /* letras al lado de imagenes*/
        width: 210px;
        height: 70px;
        margin-right: 15px;
        margin-left: 15px;
    }
    #imgBody {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 35px;
        margin-top: 0px;
        width: 200px;
    }
    
    #imgBody2 {
        font-size: 22px;
        width: 200px;
        margin-right: 10px;
        margin-left: 35px;
        width: 170px;
    }

    .imgCuerpo {
        /* imnagenes en el cuerpo*/
        height: 10%;
        width: 20%;
        margin-left: 10px;
    }

    .infoProyecto {
        width: auto;
        height: 88px;
        
    }

    .contenedorHijo {
        /* contenedor foto personal*/
        height: 180px;
        margin: none;
    }

    .contenedorCuerpo {
        /* contenedores cuerpo*/
        height: 310px;
        display: flex;
        flex-direction: column;
        margin: none;
    }

   

    .contenedorNombre {
        height: 14%;
        font-size: 39px;
    }
    #informacion {
           /* informacion article, contenedor*/
        margin-top: 2px;
        display: flex;
        flex-direction: row;
        width: 240px;
        height: 50px;
    
    }

    #titulosCuerpo {
        font-size: 30px;
        height: 50px;
        align-content: center;
        justify-self: center;
        text-align: center;
    }
    #titulosCuerpo2 {
        font-size: 30px;
        height: 50px;
        align-content: center;
        justify-self: center;
        text-align: center;
    }

   
    .imgCuerpo {
        height: 70px;
        width: 100px;
        border: 1px solid black;
        margin-left: 15px;
    }
    
    #imgSect2 {
        height: 80%;
        width: 60%;
    }
    
    #iconoTelefono {
        margin-top: 0;
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 5px;
        border: none;
    }
    #segundaSect{
        height: 320px;
    }

}